@import '~antd/dist/antd.css';

.App {
  text-align: center;
  
}
.field{
  text-align: center;
  display: block;
  background:gray;
  
}

.btn red{
  background: white;
  text-align: center;
}

.header{
 display: inline;
 background-color: black;
 
}
.ant-tabs-bar{
  background: #000000;;
  border:none;
  margin:0;
  position:fixed;
  width: 90%;
  top: 12vh;
  left: 5%;
  z-index: 3;
}

 
.content{
  margin-top: 300px;
}

.footer{
  margin-bottom: 0px;
  
}
 