body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar-brand {
  width: 100px;
  margin-top: -7;
}

.navbar-brand>img {
  padding: 7px 14px;
}

.g-card {
  margin: 20px;
}

.g-card-image {
  border-radius: 10px;
  width: 300px;
  height: 480px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.g-card-info {
  font-size: 20px;
  margin: 50px;
}

.g-card-title {
  font-size: 24px;
  margin: 0px;
}

.g-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.how-work {
  padding-right: 10px;
  text-align: center;
}

.work-img {
  border-radius: 40px;
  box-shadow: 0px 0px 3px 1px #ccc;
  width: 300px;
  height: 600px;
  display: block;

}

.contact-header {
  background-image: url('./images/background.jpg');
  display: block;
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cont {

  text-align: center;
  display: block;
  margin-top: 10px;
  font-size: 20px;

}

.cont p {
  margin: 28px 0;

}

.img-view {
  display: block;
  position: absolute;
  width: 100%;
  height: 400px;
  border-radius: 40px;
}

.h3-qa{
  text-align: center;
  margin-top: auto;
  
}

.success-msg {
  color: aquamarine;
  padding: 10px 15px;
}

.error-msg {
  color: red;
  padding: 10px 15px;
}